{% extends 'base.html' %}
{% block content %}
    
                        <!-- Section -->
                            <section>
                                <div class="posts">
                                    {% for flower in flowers %}
                                        <article>
                                                <a style="width: 400px;" href="{{flower.image.url}}" class="image"><img src="{{flower.image.url}}" alt="" /></a>
                                                <h3>{{flower.title}}</h3>
                                                <p>{{flower.description}}.</p>
                                                <ul class="actions">
                                                    <li><a href="{{ flower.get_absolute_url }}" class="button">More</a></li>
                                                </ul>
                                        </article>
                                    {% endfor %}
                                </div>
                            </section>
						</div>
					</div>
			</div>
{% endblock content %}