{% extends 'base.html' %}
{% block content %}
    
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
                        <!-- Header -->
                            <header id="header">
                                <a href="index.html" class="logo"><strong>Flower Gallary</strong></a>
                                <ul class="icons">
                                    <li></li>
                                    <li><a href="#" class="icon solid fa-sign-in-alt"><span class="label">Login</span></a></li>
                                    <li><a href="#" class="icon solid fa-sign-out-alt"><span class="label">Logout</span></a></li>
                                    <li><a href="#" class="icon solid fa-language"><span class="label">Language</span></a></li>
                                </ul>
                            </header>
                        <!-- Section -->
                            <section>
                                <div class="posts">
                                    {% for flower in flowers %}
                                        <article>
                                                <a style="width: 400px;" href="{{flower.image.url}}" class="image"><img src="{{flower.image.url}}" alt="" /></a>
                                                <h3>{{flower.title}}</h3>
                                                <p>{{flower.description}}.</p>
                                                <ul class="actions">
                                                    <li><a href="{{ flower.get_absolute_url }}" class="button">More</a></li>
                                                </ul>
                                        </article>
                                    {% endfor %}
                                </div>
                            </section>
						</div>
					</div>
			</div>
{% endblock content %}